@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #495257;
}

.App {
  font-family: "Ubuntu", sans-serif;
  background-color: #f5f7f8;
  color: #495257;
  height: 100vh;
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.logo {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
  color: #48ce65;
}

.logo span {
  color: #495257;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 100vh;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: 1px solid #495257;
  width: 100%;
  justify-content: center;
  padding-bottom: 5px;
}

li {
  margin: 5px;
  cursor: pointer;
}

.welcome {
  margin: 2rem;
  background-color: white;
  height: fit-content;
  padding: 1.7rem;
  border: 1px solid #4952572a;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.welcome h2 {
  font-size: 1.8rem;
}
.welcome h3 {
  margin-top: 10px;
}

.welcome p {
  width: 40rem;
  margin-top: 10px;
  font-size: 1.1rem;
  line-height: 1.4;
}

.welcome span {
  color: #48ce65;
}

.expensesChart {
  display: flex;
  justify-content: space-between;
  border: 1px solid #4952572a;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: fit-content;
  width: 43rem;
  margin: 2rem;
  padding: 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.expensesChartIconWrapper {
  display: flex;
}

.expensesTitle {
  margin-left: 1rem;
}

.expensesDeleteIcon {
  cursor: pointer;
  margin-right: 1rem;
}

.expensesEditIcon {
  cursor: pointer;
}

.expensesPrice {
  color: #e64b40;
  font-weight: 600;
}

.view {
  margin-left: 1rem;
}

.bills {
  margin-left: 2rem;
  border-bottom: 2px solid #495257;
  border-radius: 1px;
  width: fit-content;
}

.navButtonWrapper {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: #48ce65;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.navButtonWrapper:hover {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.navButtonText {
  margin-left: 4px;
}

.monthlyBudgetWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.monthlyBudgetAmount {
  border: 3px solid #48ce65;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #f5f7f8;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.monthlyBudgetText {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 1px solid #495257;
  padding: 3px;
}

.addBillContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem;
}

.addBillTitle {
  margin: 1rem;
  background-color: white;
  height: fit-content;
  padding: 1.7rem;
  border: 1px solid #4952572a;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.addBillViewTitleSpan {
  color: #00b2f6;
}

.addBillFormContainer {
  display: flex;
  flex-direction: column;
}

.addBillFormWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
  background-color: white;
  height: fit-content;
  padding: 1.7rem;
  border: 1px solid #4952572a;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 1.3rem;
}

.addBillFormBtn {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #00b2f6;
  user-select: none;
  width: fit-content;
  margin: auto;
  transition: all 0.2s ease-in-out;
}

.addBillFormBtn:hover {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.addBillFormWrapper input {
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid #49525771;
  padding: 10px;
  margin-left: 10px;
  outline: none;
}

.addBillFormWrapper input:focus {
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.addBillFormWrapper Label {
  margin: 10px;
}
